html{
    background-color: #6FA8DC;
    display: flex;
    
    
   
}

body{
   
    height: 100%;
    
    position: absolute;
    font-family: Montserrat;
 

}


.encabezado {
    display: flex; /* coloca logo y titulo-menu en la misma línea */
    align-items: center; /* centra verticalmente */
    
    padding: 10px 20px;
    background-color: #f5f5f5; /* opcional: color de fondo */
    border-radius: 20px;
    height: 13%;
}

.logo{
    width: 40%;
}

.logo img {
    height: 100px; /* ajusta el tamaño del logo */
    width: auto;
    align-items: start;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px ;
}

.titulo-menu {

    display: flex;
    flex-direction: column; /* título arriba, menú abajo */
    align-items: center; /* alinea el texto y botones a la derecha */
    justify-content: center;
}

.titulo-menu h1 {
  margin: 0;
  font-size: 35px;
  color: #333;
  letter-spacing: 2px;
}

.menu {
  display: flex; /* coloca los botones en línea */
  gap: 15px; /* espacio entre botones */
  margin-top: 10px;
}

/* estilo de los botones */

.btn-inicio {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-inicio:hover {
  background-color: #0056b3;
}

/*----------------------------------------------------------------------------------- */
.principal{
    background-color: #6FA8DC;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.foto{
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.principal-inferior{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 100px;
}


/*----------------------------------------------------------------------------------- */

.pie{
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-between;
    height: 12%;
    width: 100%;
    border-radius: 10px;
}

.pie p{
    font-size: 80%;
}

/*----------------------------------------------------------------------------------- */

.copyright{
    height: 3%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6FA8DC;
    font-weight: bold;
    color: gainsboro;
}

