html{
    background-color: #6FA8DC;
    display: flex;
    
    
   
}

body{
   
    height: 100%;
    
    position: absolute;
    font-family: Montserrat;
 

}


.encabezado {
    display: flex; /* coloca logo y titulo-menu en la misma línea */
    align-items: center; /* centra verticalmente */
    
    padding: 10px 20px;
    background-color: #f5f5f5; /* opcional: color de fondo */
    border-radius: 20px;
    height: 13%;
}

.logo{
    width: 40%;
    border-radius: 10px;
}

.logo img {
    height: 100px; /* ajusta el tamaño del logo */
    width: auto;
    align-items: start;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px ;
}

.titulo-menu {

    display: flex;
    flex-direction: column; /* título arriba, menú abajo */
    align-items: center; /* alinea el texto y botones a la derecha */
    justify-content: center;
}

.titulo-menu h1 {
  margin: 0;
  font-size: 35px;
  color: #333;
  letter-spacing: 2px;
}

.menu {
  display: flex; /* coloca los botones en línea */
  gap: 15px; /* espacio entre botones */
  margin-top: 10px;
}

/* estilo de los botones */

.btn-inicio {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-inicio:hover {
  background-color: #0056b3;
}

/*----------------------------------------------------------------------------------- */
.principal{
    background-color: #6FA8DC;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-left{
    width: 28%;
    
    font-size: 120%;
}

.info-right{
    width: 28%;
    
    font-size: 120%;
}

.carrusel{
    border: black solid 1px;
    text-align: center;
    
    padding: 10px;
    
    position: relative;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    justify-content: center;
    
}

.carrusel h2 {
  color: #FDE699;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Ocultamos los botones de radio */
.slides input {
  display: none;
}

/* contenedor general */
.slides {
  width: 100%;
  height: 320px;
  position: relative;
  overflow: hidden;
  

  
}

/* imagen individual */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

/* cuando el radio está seleccionado, muestra esa imagen */

#slide1:checked ~ .first,
#slide2:checked ~ .slide:nth-of-type(2),
#slide3:checked ~ .slide:nth-of-type(3),
#slide4:checked ~ .slide:nth-of-type(4),
#slide5:checked ~ .slide:nth-of-type(5) {
  opacity: 1;
}

/* indicadores inferiores */
.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.bar {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bar:hover {
  background-color: white;
}

/*----------------------------------------------------------------------------------- */

.pie{
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-between;
    height: 11%;
}

.pie p{
    font-size: 80%;
}

/*----------------------------------------------------------------------------------- */

.copyright{
    height: 3%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}
